<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Page</title>
</head>
<body>
    <p>/car-delivery/brand/{brand}/name/{name}/color/{color}/currency/{currency}/city/{city} ------->
        Show car information in your country</p>
    <p>suggestion:
        <br>
        brand: bmw | audi
    <br>
        name: x1 | r8
        <br>
        color: white or silver or blue
        <br>
        currency: rial | inr
        <br>
        city: tehran or bandar abbas | punjab or delhi
        <br>
    </p>
    OR
    <a href="http://mahdiyeh-rezaei.ir:8080/car-delivery-service/car-delivery/brand/bmw/name/i8/color/blue/currency/rial/city/bandar abbas">CLICK ME</a>
</body>
</html>